$text-color: #666;
$background-color: #000;
$secondary-color: #999;
$border-color: #333;

$highlight-color: #966; 

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background: $background-color;
  color: $text-color;
}

.visualization-fullscreen {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 12px;
  overflow: hidden;
}
.visualization-fullscreen.animate {
  opacity: 0;
  transition: 0.2s opacity;
}
.visualization-fullscreen.visible {
  opacity: 1;
}

.band-list-container {
  height: 100vh;
  overflow: scroll;
}

.band-list {
  justify-content: center;
  margin-top: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  transition: 1s transform ease-in-out;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  &.out-to-left {
    transform: translateZ(0) translateX(-100vw);
  }
  &.out-to-right {
    transform: translateZ(0) translateX(100vw);
  }

  li {
    transition: 0.5s color;
    list-style: none;
    margin: 0.5em;
    text-align: center;
    text-transform: uppercase;
  }
  
  li a {
    color: inherit;
    text-decoration: none;
    border-bottom: 4px $background-color solid;
    transition: 1s border;
    &:focus {
      outline: none;
      border-bottom: 4px $highlight-color solid;
    }
  }

  li em {
    color: $secondary-color;
    font-style: normal;
    font-weight: bold;
  }

  .selected {
    color: $highlight-color;
    em {
      color: saturate($highlight-color, 20%);
    }
  }
}

.active-label {
  position: absolute;
  left: 50%;
  top: 50%;
  background: $background-color;
  border: 3px $border-color double;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 40px;
  margin: auto;
  transform: translate(-50%, -50%);
  color: $secondary-color;
  box-shadow: 0 0 0 2px $background-color;
  z-index: 10;
  opacity: 1;
  transition: 0.4s opacity;
}

.active-label .count {
  display: block;
  font-size: 0.4em;
  font-weight: 100;
  color: $text-color;
  position: absolute;
  background: $background-color;
  border: 3px $border-color double;
  padding: 4px 8px;
  right: -24px;
  bottom: -23px;
}

.hide {
  opacity: 0;
}

svg {
  background: $background-color;
}

path, line {
  stroke: $secondary-color;
}

.bar, text {
  fill: $secondary-color;
}

.bar:hover {
  fill: $text-color;
}
